.htmlStyles {
  background-color: rgb(22, 21, 21);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bodyStyles {
  margin: 0 ;
  padding: 0;
  background-color: rgb(22, 21, 21);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: burlywood;
}

.listContainer{
  min-height: 65vh;
}

.myCard {
  border: 1px solid wheat;
  margin-bottom: 2em;
  padding: 0.7em;
  color: black;
  min-height: 48em;
}
.card-body {
  padding:0.5em 0 0 0
}

footer {
  margin-top: 4em;
  background-color: rgb(35, 14, 14);
  padding: 1em;
  width: 100%;
}

/* SEARCHER   */
#searchButton.btn {
  padding: 3px 8px 3px 8px;
  margin: 1em;
}

.detailImg {
  width: 18em;
  height: auto;
}

#favorite-btn {
  width: 30px;
  height: 30px;
  /* background-color: white; */
  border-radius: 50%;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 11px;
  padding: 0;
  font-size: 15px;
}
.btn-pimary#favorite-btn:hover{
  color:rgb(224, 236, 246) !;
}

#favorite-btn image{
  width: 15px;
  height: 15px;
}