
.bodyStyles {
  margin: 0 ;
  padding: 0;
  background-color: rgb(22, 21, 21);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Tahoma', Geneva, Verdana, sans-serif;
  height: 100%;
}
.appContainter {
  display: flex;
  flex-direction: column;
  min-height: 100vh;}

/******   MAIN   ********/
.container-fluid{
  min-height: 77vh ;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  flex: 1;
}

/******** HEADER  ********/
ul {
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: burlywood;
}
.logOutBtn {
  margin-right: 1.5em;
}
.favsQuantityIndicator {
  background-color: red;
  border-radius: 50%;
  font-size: 1em;
  font-weight: 600;
  width: 1.1em;
  height: 1.1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  line-height: 1em;
  padding:0 0px 1px 0;
  /* transform: translateY(1px); */
}

.active {
  background-color:rgb(65, 29, 29) /*  rgb(11, 81, 109); */
}

.baseLink {
  margin: 0.5em;
  padding:0.5em
}

.langSelect {
  width: 4.7em;
  height: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#dropdown-basic {
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-width: 0;
}

.dropdown-menu {  
  min-width: 4.7em;
  padding-top: 0;
  padding-bottom: 0;
}
.dropdown-item {
  padding: 0.3em;
}

/*////////////////////////////////////////*/
.listContainer{
  min-height: 65vh;
}

/*** ITEM  ***/
.myCard {
  border: 2px solid wheat;
  margin-bottom: 2em;
  /* padding: 0.7em; */
  padding-bottom: 0.5em;

  color: black;
  min-height: 48em;
}
.card-body {
  /* padding:0.5em 0 0 0 */
  padding:0.5em 
}
.itemImg {
  height: auto;
  min-height: 25em;
}
.goToItemDetailButton {
  position: absolute;
  bottom: 0em;
  padding-top: 0;
  padding-bottom: 0;
}

/** FOOTER **/ 
footer {
  margin-top: auto;
  background-color: rgb(35, 14, 14);
  padding: 0.5em;
  width: 100%;
}

/* SEARCHER   */
.searcherForm {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

#searchButton.btn {
  padding-left:0.3em;
  padding-right:0.3em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0 0 0 1em;
}

.detailImg {
  width: 18em;
  height: auto;
}

#favorite-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 1px;
  top: 1px;
  padding: 0;
  font-size: 15px;
}
.btn-pimary#favorite-btn:hover{
  color:rgb(224, 236, 246) !;
}

#favorite-btn image{
  width: 15px;
  height: 15px;
}

/*     */
.favoritesBox {
  min-height: 60vh;
}

/* LOGIN */
.loginForm {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  min-height: 60vh;
  height: 100%;
}

/* genres */
.categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
}
.categoryElement {
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-top: 0em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-weight: 500;
}

@media(max-width:576px) {
  .container-fluid{
    padding-left: 7%;
    padding-right: 7%;
  }
  .myCard {
    min-height: 40em;
  }
  .itemImg {
    min-height:unset;
    height: auto;
  }
}

  .title {
    font-size: 4em;
    font-weight: 500;
    margin-bottom: 0.4em;
    /* background: linear-gradient(to right, #FFFFFF, #C4DEF4, #d7c4f4, #f4c4e2); */
    background: linear-gradient(to right, #FFFFFF, #9dbad3, #9d4a56);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: changingGradient 2s infinite linear;
    background-size: 200% 200%;
    text-align: center;
  }  

@keyframes changingGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/*Results*/
.results {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  height: 100%;
}

a.transitioning {
  view-transition-name: "routeNavigation";
}